<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="./../../../../../assets/logo.png"
        alt=""
        class="d-inline-block align-text-top"
      />
    </a>

    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']">Inicio</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['about']">Programación</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']">Política</a>
      </li>
    </ul>
  </div>
</nav>
