<div class="row carrousel-news">
  <div class="col-12"></div>
</div>
<div class="row principal-banner">
  <div class="col-6">
    <div class="principal-new img-background">
      <div class="content-new">
        <span class="content-new-badge">Categoría 1</span>
        <h1 class="content-new-title">Este es un articulo nuevo</h1>
        <p class="content-new-description">Vincen Santaella - Agosto 7, 2023</p>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="row">
      <div class="col-12">
        <div class="secondary-new secondary-1 img-background">
          <div class="content-new">
            <span class="content-new-badge">Categoría 1</span>
            <h1 class="content-new-title">Este es un articulo nuevo</h1>
            <p class="content-new-description">Vincen Santaella - Agosto 7, 2023</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row secondary-block">
      <div class="col-6">
        <div class="secondary-new secondary-2 img-background">
          <div class="content-new">
            <span class="content-new-badge">Categoría 1</span>
            <h1 class="content-new-title">Este es un articulo nuevo</h1>
            <p class="content-new-description">Vincen Santaella - Agosto 7, 2023</p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="secondary-new secondary-3 img-background">
          <div class="content-new">
            <span class="content-new-badge">Categoría 1</span>
            <h1 class="content-new-title">Este es un articulo nuevo</h1>
            <p class="content-new-description">Vincen Santaella - Agosto 7, 2023</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
